<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form action="register" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="username" placeholder="Enter your username"><br>-->
<!--    <input type="text" name="first_name" placeholder="Enter your firstname"><br>-->
<!--    <input type="text" name="last_name" placeholder="Enter your lastname"><br>-->
<!--    <input type="email" name="email" placeholder="Enter your email"><br>-->
<!--    <input type="password" name="password" placeholder="Enter your password"><br>-->
<!--    <input type="password" name="conform-password" placeholder="Renter enter your password"><br>-->
<!--    <input type="submit" name="submit">-->
<!--</form>-->
<form action="register" method="POST">
 {% csrf_token %}
<label> Username </label>
<input type="text" name="username" size="15"/> <br> <br>
<label> Firstname: </label>
<input type="text" name="first_name" size="15"/> <br> <br>
<label> Lastname: </label>
<input type="text" name="last_name" size="15"/>
<br> <br>
Email:
<input type="email" name="email"/> <br>
<br> <br>
Password:
<input type="password" name="password"> <br>
<br> <br>
Re-type password:
<input type="password" name="conform-password"> <br> <br>
<input type="submit" name="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>

<!--<Html>-->
<!--<head>-->
<!--<title>-->
<!--Registration Page-->
<!--</title>-->
<!--</head>-->
<!--<body bgcolor="Lightskyblue">-->
<!--<br>-->
<!--<br>-->
<!--<form action="register" method="POST">-->
<!-- {% csrf_token %}-->
<!--<label> Username </label>-->
<!--<input type="text" name="username" size="15"/> <br> <br>-->
<!--<label> Firstname: </label>-->
<!--<input type="text" name="firstname" size="15"/> <br> <br>-->
<!--<label> Lastname: </label>-->
<!--<input type="text" name="lastname" size="15"/>-->
<!--<br> <br>-->
<!--Email:-->
<!--<input type="email" id="email" name="email"/> <br>-->
<!--<br> <br>-->
<!--Password:-->
<!--<input type="Password" name="password"> <br>-->
<!--<br> <br>-->
<!--Re-type password:-->
<!--<input type="Password" name="conform_password"> <br> <br>-->
<!--<input type="submit" name="submit">-->
<!--</form>-->
<!--{% for msg in messages %}-->
<!--{{msg}}-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->